istio:
  gateways:
    public:
      tls:
      values.yaml: |-
        key: |
          -----BEGIN PRIVATE KEY-----
          ${ISTIO_GW_KEY}
          -----END PRIVATE KEY-----
        cert: |
          -----BEGIN CERTIFICATE-----
          ${ISTIO_GW_CRT}
          -----END CERTIFICATE-----

